<header>
  <h1><%= link_to "onCall", root_path %></h1>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Login", "#" %></li>
    </ul>
  </nav>
</header>